
1. Create a movie booking application-  List movie shows and available tickets
-  Book movie tickets on a specified date and show
-  List bookings
-  Cancel booked movie tickets before the show time
- Add new movies

In [1]:
import csv

In [2]:
obj_heap = {}

In [3]:
class movie_architecture:
    
    def __init__(self,year,genre,avail_tickets,movie_name):
        self.year = year
        self.movie_name = movie_name
        self.genre = genre
        self.avail_tickets = avail_tickets
        
    @classmethod
    def read_input(cls,movie_name):
        return cls(input('Enter the movie year: '),
                   input('Enter the Genre: '),
                   input('Enter the avail_tickets: '),
                   movie_name)

## Create a movie booking application- List movie shows and available tickets

In [4]:
def dynamic_object_adding_movies():
    print("Print Movie name @ to exit:")
    movie_name = ''
    while True:
        movie_name = input('Enter the movie name')
        if(movie_name!='@'):
            obj_heap[movie_name] = movie_architecture.read_input(movie_name)
        else:
            print('Movie Details succesfully added ')
            break

In [5]:
dynamic_object_adding_movies()

Print Movie name @ to exit:
Enter the movie namenanban
Enter the movie year: 2015
Enter the Genre: drama
Enter the avail_tickets: 50
Enter the movie namekkk
Enter the movie year: 2020
Enter the Genre: drama
Enter the avail_tickets: 45
Enter the movie name@
Movie Details succesfully added

In [6]:
#get = obj_heap['KKK']
#print(get.movie_name)

In [7]:
obj_heap

{'kkk': <__main__.movie_architecture at 0x7f822006bb00>,
 'nanban': <__main__.movie_architecture at 0x7f8220152a20>}

In [8]:
print(obj_heap['nanban'].movie_name)
print(obj_heap['nanban'].year)

nanban
2015

In [9]:
help(movie_architecture)

Help on class movie_architecture in module __main__:

class movie_architecture(builtins.object)
 |  Methods defined here:
 |
 |  __init__(self, year, genre, avail_tickets, movie_name)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  read_input(movie_name) from builtins.type
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [10]:
pwd

'/home/hadoop-thiyagu/coda/movie_application_py'

### USING CSV AND PANDAS FOR DATA MANIPULATION

In [11]:
new_file = open('movie_details_backend.csv','w')

In [12]:
writer = csv.DictWriter(
    new_file, fieldnames=["MOVIE", "YEAR","GENRE","AVAILABLE_TICKETS"])
writer.writeheader()

In [13]:

csv_writer = csv.writer(new_file)

for k,v in obj_heap.items():
    #if(k!='@'):
    csv_writer.writerow([v.movie_name,v.year,v.genre,v.avail_tickets])
new_file.close()

In [14]:
import pandas as pd
admin_df = pd.read_csv ('./movie_details_backend.csv')

In [15]:
admin_df = admin_df.dropna()

In [16]:
print(admin_df)

    MOVIE  YEAR  GENRE  AVAILABLE_TICKETS
0  nanban  2015  drama                 50
1     kkk  2020  drama                 45

In [17]:
admin_df['MOVIE']=='nanban'

0     True
1    False
Name: MOVIE, dtype: bool

In [18]:
#df['AVAILABLE_TICKETS'] = df.loc[df['MOVIE'] == 'nanban']['AVAILABLE_TICKETS']-1

In [19]:
#dataframe['AVAILABLE_TICKETS']-=1

In [20]:
def update_tickets_from_admin_db(request):
    is_booked = False
    tickets_booked = request
    for i,row in admin_df.iterrows():
        #print(row['MOVIE'])
        if(row['MOVIE']=='nanban' and row['AVAILABLE_TICKETS']-tickets_booked >= 0): 
            admin_df.at[i,'AVAILABLE_TICKETS']= row['AVAILABLE_TICKETS']-tickets_booked
            is_booked = True
            return is_booked
        elif(row['MOVIE']=='nanban'and row['AVAILABLE_TICKETS']-tickets_booked < 0):
            print("SORRY TICKETS NOT AVAILABLE")
            print("BETTER YOU BOOK : {}".format(row['AVAILABLE_TICKETS']))
            
    return is_booked

In [21]:
admin_df

    MOVIE  YEAR  GENRE  AVAILABLE_TICKETS
0  nanban  2015  drama                 50
1     kkk  2020  drama                 45

In [22]:
import uuid
def unique_number():
    uuid_auto_generated = str(uuid.uuid4().fields[-1])[:5]
    return uuid_auto_generated

In [23]:
admin_df['MOVIE']

0    nanban
1       kkk
Name: MOVIE, dtype: object

In [24]:
#get_ref = unique_number()
#print(get_ref)

In [25]:
from datetime import date,datetime

def get_booking_id():
    
    today = date.today()
    # dd/mm/YY
    current_day = today.strftime("%d-%m-%Y")
    now = datetime.now()
    #print("now =", now)
    timestamp = now.strftime("%H-%M-%S")
    #print("Current_day",current_day)
    #print("Timestamp", timestamp)

    tuple_day = (timestamp,current_day,unique_number())
    #print(tuple_day)
    stored = "*".join(tuple_day)
    
    return stored

In [26]:
get_booking_id()

'11-36-04*16-09-2020*10214'

In [27]:
from datetime import time
class user_book:
    def __init__(self,book_tickets,book_date,show_time,movie_name,uniq_ref_no):
        self.uniq_ref_no = uniq_ref_no
        self.movie_name = movie_name
        self.book_date = book_date
        self.show_time = show_time
        self.book_tickets = book_tickets
        
    @classmethod
    def read_input(cls,movie_name,uniq_ref_no):
        
        tickets = int(input('Book Tickets: '))
        date_entry = input('Enter a date in YYYY-MM-DD format')
        year, month, day = map(int, date_entry.split('-')) 
        date1 = date(year, month, day)
        
        show_entry = input('Enter a date in HH-MM format')
        hr,mnt =  map(int, show_entry.split('-')) 
        converted_show_time = time(hour=hr,minute=mnt)
        
        print(type(converted_show_time))
        return cls(
                   tickets,
                   date1,
                   converted_show_time,
                   movie_name,
                   uniq_ref_no
                  )

In [28]:
user_obj_heap = {}

### Book movie tickets on a specified date and show

In [29]:
def user_book_tickets():
    print("Print Movie name @ to exit:")
    movie_name = ''
    while True:
        movie_name = input('Enter the movie name')
        if(movie_name!='@'):
            uuid = get_booking_id()
            user_obj_heap[uuid] = user_book.read_input(movie_name,uuid)
            if(update_tickets_from_admin_db(user_obj_heap[uuid].book_tickets)):
                print(f"SUCCESSFULLY BOOKED , PLEASE NOTE DOWN YOUR UNIQUE REF NO {uuid}")
                
        else:
            print('exited')
            break

In [31]:
user_book_tickets()

Print Movie name @ to exit:
Enter the movie namenanban
Book Tickets: 10
Enter a date in YYYY-MM-DD format2020-09-18
Enter a date in HH-MM format05-00
<class 'datetime.time'>
SUCCESSFULLY BOOKED , PLEASE NOTE DOWN YOUR UNIQUE REF NO 11-36-20*16-09-2020*32885
Enter the movie name@
exited

In [32]:
user_obj_heap

{'11-36-20*16-09-2020*32885': <__main__.user_book at 0x7f81f3969860>}

### USING SEPARATE CSV AND PANDAS DATAFRAME FOR USER BOOKING BACKEND

In [33]:
booking_file = open('user_booking_details.csv','w')

In [34]:
writer = csv.DictWriter(
    booking_file, fieldnames=["UNIQ_REF_NO", "MOVIE_NAME","BOOKED_TICKETS","BOOKED_DATE","SHOW_TIME"])
writer.writeheader()

csv_writer = csv.writer(booking_file)

for k,v in user_obj_heap.items():
    #if(k!='@'):
    csv_writer.writerow([v.uniq_ref_no,v.movie_name,v.book_tickets,v.book_date,v.show_time])
booking_file.close()

In [35]:
df = pd.read_csv ('./user_booking_details.csv')

In [36]:
#BOOKING DATAFRAME
df

                 UNIQ_REF_NO MOVIE_NAME  BOOKED_TICKETS BOOKED_DATE SHOW_TIME
0  11-36-20*16-09-2020*32885     nanban              10  2020-09-18  05:00:00

In [37]:
#updated as well as in ADMIN DATAFRAME

admin_df

    MOVIE  YEAR  GENRE  AVAILABLE_TICKETS
0  nanban  2015  drama                 40
1     kkk  2020  drama                 45

### CANCELLING TICKETS BEFORE THE SHOW

In [38]:
def update_admin_df(movie_name,tickets):
    for i,row in admin_df.iterrows():
        if(row['MOVIE']==movie_name):
            admin_df.at[i,'AVAILABLE_TICKETS'] = row['AVAILABLE_TICKETS']+tickets

In [39]:
def cancel_tickets(uniq_no):
    for i,row in df.iterrows():
        if(row['UNIQ_REF_NO']==uniq_no): 
            #print(type(row['BOOKED_TICKETS']))
            tickets = (row['BOOKED_TICKETS'])
            movie_name = row['MOVIE_NAME']
            
            ##logic for cancelling before the show 
            date2 = row['BOOKED_DATE'] 
            
            today = date.today()
            date1 = today.strftime("%Y-%m-%d")
            
            date2_yr,date2_month,date2_day = map(int,date2.split('-'))
            date1_yr,date1_month,date1_day = map(int,date1.split('-'))
            
            difference = (
                          date(date2_yr,date2_month,date2_day) -
                          date(date1_yr,date1_month,date1_day)
                         )
                
            #print(difference.days)
            if(difference.days >= 0):
                df.drop(i,inplace=True)
                update_admin_df(movie_name,tickets)
                break

In [40]:
cancel_tickets('11-36-20*16-09-2020*32885')

#### LISTING OUT THE USER DATAFRAME AFTER CRUD OPERATIONS

In [41]:
#deletion updated in user dataframe
df

Empty DataFrame
Columns: [UNIQ_REF_NO, MOVIE_NAME, BOOKED_TICKETS, BOOKED_DATE, SHOW_TIME]
Index: []

#### LISTING OUT THE ADMIN DATAFRAME AFTER CRUD OPERATIONS

In [42]:
#cancelled tickets updated in admin df for reusability
admin_df

    MOVIE  YEAR  GENRE  AVAILABLE_TICKETS
0  nanban  2015  drama                 50
1     kkk  2020  drama                 45