In [2]:
import csv

In [3]:
obj_heap = {}

In [4]:
class movie_architecture:
    
    def __init__(self,year,genre,avail_tickets,movie_name):
        self.year = year
        self.movie_name = movie_name
        self.genre = genre
        self.avail_tickets = avail_tickets
        
    @classmethod
    def read_input(cls,movie_name):
        return cls(input('Enter the movie year: '),
                   input('Enter the Genre: '),
                   input('Enter the avail_tickets: '),
                   movie_name)

In [5]:
def dynamic_object_adding_movies():
    print("Print Movie name @ to exit:")
    movie_name = ''
    while True:
        movie_name = input('Enter the movie name')
        if(movie_name!='@'):
            obj_heap[movie_name] = movie_architecture.read_input(movie_name)
        else:
            print('Movie Details succesfully added ')
            break

In [6]:
dynamic_object_adding_movies()

Print Movie name @ to exit:
Enter the movie name
Enter the movie year:
Enter the Genre:
Enter the avail_tickets:
Enter the movie namenanban
Enter the movie year: 2015
Enter the Genre: drama
Enter the avail_tickets: 50
Enter the movie name@
Movie Details succesfully added

In [7]:
#get = obj_heap['KKK']
#print(get.movie_name)

In [8]:
obj_heap

{'': <__main__.movie_architecture at 0x7efdd82b0438>,
 'nanban': <__main__.movie_architecture at 0x7efdd8135c18>}

In [9]:
print(obj_heap['nanban'].movie_name)
print(obj_heap['nanban'].year)

nanban
2015

In [10]:
help(movie_architecture)

Help on class movie_architecture in module __main__:

class movie_architecture(builtins.object)
 |  Methods defined here:
 |
 |  __init__(self, year, genre, avail_tickets, movie_name)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  read_input(movie_name) from builtins.type
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [11]:
pwd

'/home/hadoop-thiyagu/coda/movie_application_py'

In [12]:
new_file = open('movie_details_backend.csv','w')

In [13]:
writer = csv.DictWriter(
    new_file, fieldnames=["MOVIE", "YEAR","GENRE","AVAILABLE_TICKETS"])
writer.writeheader()

In [14]:

csv_writer = csv.writer(new_file)

for k,v in obj_heap.items():
    #if(k!='@'):
    csv_writer.writerow([v.movie_name,v.year,v.genre,v.avail_tickets])
new_file.close()

In [15]:
import pandas as pd
df = pd.read_csv ('./movie_details_backend.csv')

In [16]:
df = df.dropna()

In [17]:
print(df)

    MOVIE    YEAR  GENRE  AVAILABLE_TICKETS
1  nanban  2015.0  drama               50.0

In [18]:
df['MOVIE']=='nanban'

1    True
Name: MOVIE, dtype: bool

In [19]:
#df['AVAILABLE_TICKETS'] = df.loc[df['MOVIE'] == 'nanban']['AVAILABLE_TICKETS']-1

In [20]:
#dataframe['AVAILABLE_TICKETS']-=1

In [21]:
def update_tickets_from_admin_db(request):
    is_booked = False
    tickets_booked = request
    for i,row in df.iterrows():
        if(row['MOVIE']=='nanban' and row['AVAILABLE_TICKETS']-tickets_booked >= 0): 
            df.at[i,'AVAILABLE_TICKETS']= row['AVAILABLE_TICKETS']-tickets_booked
            is_booked = True
            return is_booked
        elif(row['MOVIE']=='nanban'and row['AVAILABLE_TICKETS']-tickets_booked < 0):
            print("SORRY TICKETS NOT AVAILABLE")
            print("BETTER YOU BOOK : {}".format(row['AVAILABLE_TICKETS']))
            
    return is_booked

In [22]:
df

    MOVIE    YEAR  GENRE  AVAILABLE_TICKETS
1  nanban  2015.0  drama               50.0

In [23]:
import uuid
def unique_number():
    uuid_auto_generated = str(uuid.uuid4().fields[-1])[:5]
    return uuid_auto_generated

In [24]:
#get_ref = unique_number()
#print(get_ref)

In [30]:
from datetime import date,datetime

def get_booking_id():
    
    today = date.today()
    # dd/mm/YY
    current_day = today.strftime("%d-%m-%Y")
    now = datetime.now()
    #print("now =", now)
    timestamp = now.strftime("%H-%M-%S")
    #print("Current_day",current_day)
    #print("Timestamp", timestamp)

    tuple_day = (timestamp,current_day,unique_number())
    #print(tuple_day)
    stored = "*".join(tuple_day)
    
    return stored

In [31]:
get_booking_id()

'23-11-55*15-09-2020*16638'

In [32]:
class user_book:
    def __init__(self,book_tickets,movie_name,uniq_ref_no):
        self.uniq_ref_no = uniq_ref_no
        self.movie_name = movie_name
        self.book_tickets = book_tickets
        
    @classmethod
    def read_input(cls,movie_name,uniq_ref_no):
        return cls(
                   input('Enter the avail_tickets: '),
                   movie_name,
                   uniq_ref_no
                  )

In [33]:
user_obj_heap = {}

In [34]:
def user_book_tickets():
    print("Print Movie name @ to exit:")
    movie_name = ''
    while True:
        movie_name = input('Enter the movie name')
        if(movie_name!='@'):
            uuid = get_booking_id()
            user_obj_heap[uuid] = user_book.read_input(movie_name,uuid)
            #print(user_obj_heap[uuid].book_tickets)
            if(update_tickets_from_admin_db(float(user_obj_heap[uuid].book_tickets))):
                print(f"SUCCESSFULLY BOOKED , PLEASE NOTE DOWN YOUR UNIQUE REF NO {uuid}")
                
        else:
            print('exited')
            break

In [35]:
user_book_tickets()

Print Movie name @ to exit:
Enter the movie namenanban
Enter the avail_tickets: 20
SUCCESSFULLY BOOKED , PLEASE NOTE DOWN YOUR UNIQUE REF NO 23-12-09*15-09-2020*16971
Enter the movie name@
exited

In [36]:
user_obj_heap

{'23-12-09*15-09-2020*16971': <__main__.user_book at 0x7efdac2294e0>}

In [37]:
booking_file = open('user_booking_details.csv','w')

In [38]:
writer = csv.DictWriter(
    booking_file, fieldnames=["UNIQ_REF_NO", "MOVIE_NAME","BOOKED_TICKETS"])
writer.writeheader()

csv_writer = csv.writer(booking_file)

for k,v in user_obj_heap.items():
    #if(k!='@'):
    csv_writer.writerow([v.uniq_ref_no,v.movie_name,v.book_tickets])
booking_file.close()

In [40]:
df = pd.read_csv ('./user_booking_details.csv')

In [41]:
df

                 UNIQ_REF_NO MOVIE_NAME  BOOKED_TICKETS
0  23-12-09*15-09-2020*16971     nanban              20